html {
    font-size: 10px;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* GENERAL STYLES */
  h1 {
    font-size: 2.3rem;
  }
  
  h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  h5 {
    font-size: 1.4rem;
  }
  /* GENERAL STYLES END*/
  
  
  body {
    width: 100vw;
    height: auto;
    font-size: 1.25rem;
    overflow-x: hidden;
    padding: 3em 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(2, 2, 2, 0.952);
  }
  
  /* ----- HEAD SECTION ----- */
  .parent_container {
    width: 95% !important;
    max-width: 750px !important;
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 10px;
    border-radius: 12px;
    background: #F7F8F9;
    box-shadow: 3px 5px 13px 2px rgba(0,0,0,0.34);
    -webkit-box-shadow: 3px 5px 13px 2px rgba(0,0,0,0.34);
    -moz-box-shadow: 3px 5px 13px 2px rgba(0,0,0,0.34);
  }
  
  /* NAME AND DETAILS BLOCK */
  .parent_container > .name_block {
    height: 100%;
    margin: 0 auto;
    padding: 0 1.7em;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  .name_block::after {
    content: ' ';
    width: 75%;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  }
  
  .name_block > .surname {
    min-width: 100%;
    color: midnightblue;
  }
  
  .name_block > .my_names {
    color: blue;
    width: 100%;
    margin: .3em auto;
    margin-bottom: 0;
    text-align: center;
  }
  
  .parent_container > .details {
    height: 100%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0 1.7em;
    width: 100%;
    max-width: 500px;
    padding-left: 35px;
  }
  
  .parent_container .details > .fam {
    display: flex;
    align-items: center;
    margin-bottom: .3em;
  }
  
  .fam > span {
    padding-top: .1em;
    margin-left: .5em;
  }
  
  
  /* ----- MAIN CONTENT SECTION ----- */
  .content_block {
    height: 100%;
    margin: 0 auto;
    margin-top: 1em;
    min-width: 300px;
    max-width: 600px;
    padding: .8em 2.6em;
    border-radius: 15px;
    color: rgb(241, 238, 238);
    background-color: rgba(2, 2, 2, 0.952);
  }
  
  .overview_block > h4,
  .education > h4,
  .experience > h4,
  .p_training > h4,
  .skills > h4,
  .interests > h4 {
    position: relative;
  }
  
  .overview_block > h4::before,
  .education > h4::before,
  .experience > h4::before,
  .p_training > h4::before,
  .skills > h4::before,
  .interests > h4::before {
    content: '\27A7';
    position: absolute;
    left: -39px;
    bottom: -10px;
    color: #F7F8F9;
    font-size: 3rem;
  }
  
  .interests > h4::before {
    left: -39px;
  }
  
  .overview_block > p {
    font-size: 1.3rem;
    text-align: justify;
  }
  
  .overview_block > p::after {
    content: ' ';
    height: 1px;
    width: 100%;
    display: block;
    margin-top: 5px;
    border-bottom: 2px dotted rgb(27, 37, 63);
  }
  
  /* ----- EDUCATION ----- */
  .content_block > .education {
    margin-top: 5px;
    font-size: 1.2rem;
  }
  
  .education section > .details,
  .education section > .more,
  .experience section > .details {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
  }
  
  section > .more,
  .experience .role > p,
  .p_training .details .sec_text {
    color: rgba(255, 217, 102);
    font-style: italic;
  }
  
  section .more > p,
  section .more > span {
    width: 100%;
    text-align: center;
  }
  
  /* ----- WORK EXPERIENCE ----- */
  .content_block > .experience {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .latest .details > h5 {
    font-size: 1.25rem;
    margin-left: 0;
  }
  
  .latest .details > span {
    position: relative;
    right: 0;
    bottom: 0;
  }
  
  .experience .role {
    padding: 5px 0 0 10px;
    text-align: justify;
  }
  
  .experience .achievement_list {
    list-style-type: none;
  }
  
  .experience .achievement_list > li {
    position: relative;
  }
  
  .experience .achievement_list > li::before {
    content: '-';
    position: absolute;
    left: -25px;
  }
  
  .experience > .previous,
  .experience > .last,
  .p_training,
  .skills,
  .interests,
  .references {
    margin-top: 1em;
  }
  
  .experience .previous > .details {
    flex-wrap: wrap;
  }
  
  .previous .details > h5 {
    width: 90%;
    font-size: 1.25rem;
  }
  
  .previous h5 > span {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: lighter;
    color: rgba(255, 217, 102);
  }
  
  .previous .details > span {
    margin-left: 0;
  }
  
  .experience .last > .details {
    flex-wrap: wrap;
  }
  
  .last .details > .more {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .last .more > .desc {
    color: rgba(255, 217, 102);
  }
  
  
  
  /* ----- TRAINING ----- */
  .p_training {
    text-align: center;
  }
  
  .p_training > .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* ----- SKILLS ----- */
  .skills > .title {
    text-align: center;
  }
  
  .skills > .details {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: space-between;
  }
  
  .skills .details > .left {
    width: 50%;
    position: relative;
    list-style-type: none;
  }
  
  .skills .details > .right {
    position: relative;
    list-style-type: none;
  }
  
  .skills .left > li::before,
  .skills .right > li::before {
    content: '\2713';
    font-size: 1rem;
    display: block;
    position: absolute;
    left: -15px;
  }
  
  
  /* ----- INTERESTS ----- */
  .interests {
    display: block;
    text-align: center;
    margin-top: 1em;
  }
  
  .interests > .title {
    width: 100%;
  }
  
  
  /* ----- REFERENCES ----- */
  .references > h4 {
    text-align: center;
  }
  
  .references > .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .references .details > .left,
  .references .details > .right {
    line-height: 1.7;
    list-style-type: none;
    text-align: center;
  }
  
  .references .details > .right {
    margin-top: 1em;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* --------------- MEDIA QUERIES --------------- */
  @media (min-width: 550px) {
    /* ----- MAIN CONTENT SECTION ----- */
    .interests > h4::before {
      left: -76px;
    }
  
    /* ----- EDUCATION ----- */
    .education section .details > span {
      position: relative;
      right: 57px;
      bottom: 0;
    }
    
    section .more > p {
      margin-left: 40px;
    }
  
    section .more > p,
    section .more > span {
      width: auto;
      text-align: left;
    }
    
    /* ----- WORK EXPERIENCE ----- */
    .content_block > .experience {
      margin-top: 10px;
      font-size: 1.2rem;
    }
    
    .latest .details > h5 {
      font-size: 1.25rem;
      margin-left: 40px;
    }
    
    .latest .details > span {
      position: relative;
      right: 19px;
      bottom: 0;
    }
    
    .experience .role {
      padding: 5px 0 0 40px;
      text-align: justify;
    }
    
    .experience .achievement_list {
      list-style-type: none;
    }
    
    .experience .achievement_list > li {
      position: relative;
    }
    
    .experience .achievement_list > li::before {
      content: '-';
      position: absolute;
      left: -25px;
    }
    
    .experience > .previous,
    .experience > .last,
    .p_training,
    .skills,
    .interests,
    .references {
      margin-top: 1em;
    }
    
    .experience .previous > .details {
      flex-wrap: nowrap;
    }
    
    .previous .details > h5 {
      width: 90%;
      font-size: 1.25rem;
    }
    
    .previous h5 > span {
      display: inline;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: lighter;
      color: rgba(255, 217, 102);
    }
    
    .previous .details > span {
      width: 120px;
      margin-right: 27px;
    }
    
    .experience .last > .details {
      flex-wrap: wrap;
    }
    
    .last .details > .more {
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
    }
    
    .last .more > .desc {
      padding-left: 40px;
    }
    
    .last .more > .date {
      position: relative;
      right: 38px;
    }
    
    
    /* ----- TRAINING ----- */
    .p_training {
      text-align: left;
    }
  
    .p_training > .title {
      text-align: center;
    }
    
    .p_training > .details {
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      justify-content: space-between;
    }
    
    .p_training .details > span {
      margin-right: 70px;
    }
  
    .last .more > .desc {
      color: rgba(255, 217, 102);
    }
    
    
    /* ----- SKILLS ----- */
    .skills > .title {
      text-align: left;
    }
  
    .skills > .details {
      flex-wrap: nowrap;
    }
    
    .skills .details > .left {
      width: 50%;
      margin-left: 40px;
      position: relative;
      list-style-type: none;
    }
    
    .skills .details > .right {
      margin-left: 30px;
      position: relative;
      list-style-type: none;
    }
    
    .skills .left > li::before,
    .skills .right > li::before {
      content: '\2713';
      font-size: 1rem;
      display: block;
      position: absolute;
      left: -15px;
    }
    
    
    /* ----- INTERESTS ----- */
    .interests {
      display: flex;
      align-items: center;
    }
    
    .interests > .title {
      margin: 0 .5em 0 2.5em;
      width: auto;
      text-align: left;
    }
    
    
    /* ----- REFERENCES ----- */
    
    .references > .details {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .references .details > .left,
    .references .details > .right {
      line-height: 1.7;
      list-style-type: none;
      text-align: left;
    }
    
    .references .details > .left {
      margin-left: 2.8em;
    }
  
    .references .details > .right {
      margin-top: 0;
    }
  }